.cursor {
  display: inline-block;
  width: 8px;
  height: 1.5rem;
  background-color: #f8f8f8;
  animation: blink 1s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
